@model BlogPostModel

<section class="editRegion">
@Html.LabelFor(model => model.Title, new { style = "font-size:20px; font-weight:bolder;" })
    @Html.ValidationMessageFor(model => model.Title, null, new { style = "font-size:18px; color:red; font-weight:bold" })
@Html.TextBoxFor(model => model.Title, new { style = "width:inherit" })

</section>

<section class="editRegionLong">
@Html.LabelFor(m => m.Content, new { style = "font-size:20px; font-weight:bolder;" })
@Html.ValidationMessageFor(m => m.Title, null, new { style = "font-size:18px; color:red; font-weight:bold" }) <br />
@Html.TextAreaFor(m => m.Content, new { style="width:inherit;height:90%;min-height:60px;" })

</section>

<section class="editRegion">
@Html.LabelFor(m => m.Author, new { style = "font-size:20px; font-weight:bolder;" })
    @Html.ValidationMessageFor(m => m.Author, null, new { style = "font-size:18px; color:red; font-weight:bold" })
@Html.TextBoxFor(m => m.Author, new { style = "width:inherit;" })

</section>




