@model List<BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blogs";
}
<div style="text-align:center;">
    <h1>Blogs</h1>

    @Html.DisplayForModel()

    @*@foreach (BlogPost post in Model)
    {
        
        <div style="border:1px solid gray;">
            <h2>@post.Title</h2>

            <p class="blogPostContent">
                @post.Content
            </p>

            <div class="blogPostCredit">
                - @post.Author <br />
                @post.Timestamp
            </div>
            <div class="editPost">
                @Html.ActionLink("Edit Post", "Edit", new { ID = post.ID })
            </div>
        </div>
    }*@
    <br />
</div>
@Html.ActionLink("Add New Blog Post", "Add")
